<div class="account-details">

  <table class="table">
    <thead>
      <th>Id</th>
      <th>Date</th>
      <th>Payee</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Status</th>
    </thead>
    <tbody>
      <tr ng-repeat="transaction in transactions">
          <td>{{transaction.id}}</td>
          <td>{{transaction.date | date:'yyyy-MM-dd'}}</td>
          <td>{{transaction.payee.name}}</td>
          <td>{{categoryToDisplay(transaction)}}</td>
          <td>{{amountToDisplay(transaction) | currency}}</td>
          <td>{{statusToDisplay(transaction)}}</td>
      </tr>
    </tbody>
  </table>

</div>
