<form class="account-editor-modal form-inline">
  <div class="modal-header">
    <h3 ng-if="isNewAccount">Create a New Account</h3>
    <h3 ng-if="!isNewAccount">Edit an Account</h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="control-label">Name</label>
      <input type="text" ng-model="account.name"></input>
    </div>
    <div class="form-group">
      <label class="control-label">Type</label>
      <select
        class="form-control"
        ng-model="account.type" required="true"
        ng-options="type for type in accountTypes">
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()">
      <span ng-if="isNewAccount">Create</span>
      <span ng-if="!isNewAccount">Update</span>
    </button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</form>
