<div class="accounts-view">
  <div>
    <select
      required="false"
      ng-model="selectedAccountId"
      ng-options="a.id as a.name for a in accounts"
      ng-change="accountSelected()">
    </select>

    <button class="btn btn-default btn-xs" ng-click="createAccount()">
      <span class="glyphicon glyphicon-plus"></span>
    </button>

  </div>

  <div ng-if="!accounts.length">
    Looks like you haven't created any accounts. Click the + button
    to get started.
  </div>
  <div ng-if="accounts.length && !selectedAccountId">
    <p>Please select an account</p>
  </div>

  <div ui-view="accountsSubview" ng-if="selectedAccountId"></div>
</div>
