<div class="col-md-1">
  You have {{accounts.length}} accounts.


  <ul>
    <li ng-repeat="account in accounts | filter:isAssetOrLiability">
      <a href="{{ledgerTab.href}}/{{account.id}}">
        {{account.name}}
      </a>
      <button class="btn btn-xs" edit-account-button account="account">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
    </li>
  </ul>
  <button class="btn" edit-account-button>Create New Account</button>
</div>
<div class="col-md-11">
</div>
