html,
body {
    height: 100%;
}

/* generic rules */

.fill-height {
    min-height: 100%;
    height: 100%;
}

.transaction-editor {
    overflow-y: scroll;
}

.transaction-editor .button-bar {
    margin-top: 15px;
}

.ui-datepicker {
    font-size: 10px;
}

/* specific rules */

.accounts-details {
    /* we use relative positioning in order to give the transaction editor
     a fixed positioning at the bottom of the div */
    position: relative;
}

.accounts-details .transaction-editor {
    /* Will be fixed to the bottom of the account-details section */
    position: fixed;

    top: 70%;
    height: 30%;

    width: 96%;
    margin-left: 2%;
    margin-right: 4%;

    padding: 15px;

    background-color: #eee;
    border: 1px solid #222;
    border-bottom: none;
}
