<div id="ledger" ng-controller="LedgerCtrl">
  <h3>Ledger</h3>
  <select
  ng-model="account"
  ng-options="account.name for account in accounts"
  >
  </select>
  <div id="transactions-view">
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th>Id</th>
      <th>Date</th>
      <th>Payee</th>
      <th>Details</th>
      <th>Amount</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="transaction in transactions | filter:hasSplitForAccount">
      <td>{{transaction.id}}</td>
      <td>{{transaction.date}}</td>
      <td>{{transaction.payee.name}}</td>
      <td>{{transactionDestination(transaction)}}</td>
      <td>
      {{transactionAmount(transaction) | currency}}
      </td>
      <td>{{transactionStatus(transaction)}}</td>
    </tr>
    </tbody>
  </table>
  </div>
  <div id="new-transaction-view" ng-controller="EditTransactionCtrl">
  <h3>Create a new transaction</h3>
  <div class="row">
    <div class="span6">
    <div class="form-horizontal">
      <div class="control-group">
      <label class="control-label">Date</label>
      <div class="controls">
        <div class="input-append">
        <input
          type="text"
          datepicker-popup="MMMM dd, yyyy"
          ng-model="date"
          is-open="datepickerOpened"
          ng-required="true"
        />
        <button class="btn" ng-click="openDatepicker()">
          <i class="icon-calendar"></i>
        </button>
        </div>
      </div>
      </div>
      <div class="control-group">
      <label class="control-label">Payee</label>
      <div class="controls">
        <input type="text" auto-complete="payees:name"
        ng-model="payeeName" ng-blur="updatePayeeId()" />
      </div>
      </div>
      <div class="control-group">
      <label class="control-label">Account</label>
      <div class="controls">
        <input type="text" auto-complete="accounts:name"
        ng-model="destAccountName" ng-blur="updateAccountId()" />
      </div>
      </div>
      <div class="control-group">
      <label class="control-label">Amount</label>
      <div class="controls">
        <div class="input-prepend">
        <span class="add-on">$</span>
        <input type="text" ng-model="amount" />
        </div>
      </div>
      </div>
      <div class="control-group">
      <label class="control-label">Status</label>
      <div class="controls">
        <select
        ng-model="status"
        ng-options="status for status in statuses"
        >
        </select>
      </div>
      </div>
      <div class="control-group">
      <div class="controls">
        <button class="btn" ng-click="saveTransaction()">Save</button>
      </div>
      </div>
    </div>
    </div>
  </div>
  </div>
</div>
