<div ng-controller="TransactionsCtrl">

  <form>
    <input type="text" placeholder="Date" ng-model="transaction.date">
    <select ng-model="transaction.account_id">
      <option ng-repeat="account in accounts" value="{{account.id}}">
        {{account.name}}
      </option>
    </select>
    <select ng-model="transaction.status">
      <option value="not_reconciled">Not Reconciled</option>
      <option value="cleared">Cleared</option>
      <option value="reconciled">Reconciled</option>
    </select>

    <button ng-click="save(transaction)">SAVE</button>
  </form>

  <h3>Transactions</h3>
  <pre ng-repeat="transaction in transactions">{{transaction | json}}</pre>

</div>
