<div class="transaction-editor">
  <form class="form container-fluid" name="form">

    <div class="row">

      <div class="col-md-2">
        <label class="control-label" for="date">Date</label>
        <input class="form-control" type="text" name="date" required="true"
          ng-model="transBase.date" placeholder="YYYY-MM-DD">
      </div>

      <div class="col-md-2">
        <label class="control-label" for="payee_id">Payee</label>
        <select class="form-control" name="payee_id"
          ng-model="transBase.payee_id" ng-options="p.id as p.name for p in payees">
        </select>
      </div>

      <div class="col-md-8 container-fluid splits-container">
        <div ng-repeat="split in foreignSplits" class="row">

          <div class="col-md-4">
            <label class="control-label" ng-class="{'sr-only': $index > 0}"
              for="account_id_{{$index}}">
              Category
            </label>
            <select class="form-control" name="account_id_{{$index}}" required="true"
              ng-model="split.account_id"
              ng-options="a.id as a.name for a in accounts">
            </select>
          </div>

          <div class="col-md-4">
            <label class="control-label" ng-class="{'sr-only': $index > 0}"
              for="amount_{{$index}}">
              Description
            </label>
            <input class="form-control" type="text" name="description_{{$index}"
              ng-model="split.description">
          </div>

          <div class="col-md-4">
            <label class="control-label" ng-class="{'sr-only': $index > 0}"
              for="amount_{{$index}}">
              Amount
            </label>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input class="form-control" type="number" name="amount_{{$index}"
                step="0.01" ng-model="split.amount"
                ng-blur="setPrimarySplitAmount()">
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-1">
            <button class="btn btn-default btn-xs"
              ng-click="addForeignSplit()" formnovalidate>
              Add split
            </button>
          </div>
          <div class="col-md-9"></div>
          <div class="col-md-2">
            <strong>Total:</strong> {{primarySplit.amount | currency}}
          </div>
        </div>
      </div>

    </div>

    <div class="row button-bar">
      <div class="col-md-10"></div>
      <div class="col-md-2">
        <button class="btn" ng-click="save()"
          ng-disabled="form.$invalid" formnovalidate>
          Save
        </button>
        <button class="btn" ng-click="onCancel()" formnovalidate>Cancel</button>
      </div>
    </div>

  </form>
</div>
