<div class="transaction-editor">
  <form class="form-horizontal container-fluid" name="form" formnovalidate>

    <div class="row">

        <label class="col-md-1 control-label" for="date">Date</label>
        <div class="col-md-2">
          <div class="input-group datepicker-wrapper">
            <input class="form-control" type="text" name="date" required="true"
              ng-model="formVals.date"
              datepicker-popup="yyyy-MM-dd"
              is-open="datepicker.isOpen"
              show-weeks="false">
            <span class="input-group-btn">
              <button class="btn btn-default btn-small" type="button"
                ng-click="openDatepicker($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </div>
        </div>


      <label class="col-md-1 control-label" for="payee_id">Payee</label>
      <div class="col-md-2">
        <select class="form-control" name="payee_id"
          ng-model="split.payee_id"
          ng-options="p.id as p.name for p in payees">
        </select>
      </div>

      <div class="col-md-6 container-fluid">

        <div ng-repeat="split in formVals.splits">
          <div class="row">

            <label class="col-md-2 control-label" for="account_id_{{$index}}">Account</label>
            <div class="col-md-4">
              <select class="form-control" name="account_id_{{$index}}" required="true"
                ng-disabled="split.locked"
                ng-model="split.account_id"
                ng-options="a.id as a.name for a in accounts">
              </select>
            </div>

            <label class="col-md-2 control-label" for="amount_{{$index}}">Amount</label>
            <div class="col-md-4">
              <input class="form-control" type="number" name="amount_{{$index}"
                ng-disabled="split.locked"
                step="0.01" ng-model="split.amount">
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-10"></div>
      <div class="col-md-2">
        <button class="btn" ng-click="cancel()">Cancel</button>
        <button class="btn" ng-click="save()"
          ng-disabled="form.$invalid">
          Save
        </button>
      </div>
    </div>

  </form>
</div>
