<div class="transaction-editor">
  <form class="form container-fluid" name="form" formnovalidate>

    <div class="row">

      <div class="col-md-2">
        <label class="control-label" for="date">Date</label>
        <div>
          <div class="input-group datepicker-wrapper">
            <input class="form-control" type="text" name="date" required="true"
            placeholder="YYYY-MM-DD"
            ng-model="formVals.date"
            datepicker-popup="yyyy-MM-dd"
            is-open="datepicker.isOpen"
            show-button-bar="false"
            show-weeks="false">
            <span class="input-group-btn">
              <button class="btn btn-default btn-small" type="button"
                ng-click="openDatepicker($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <label class="control-label" for="payee_id">Payee</label>
        <div>
          <select class="form-control" name="payee_id"
            ng-model="split.payee_id"
            ng-options="p.id as p.name for p in payees">
          </select>
        </div>
      </div>

      <div class="col-md-8 container-fluid splits-container">
        <div ng-repeat="split in formVals.splits" class="row">

          <div class="col-md-4">
            <label class="control-label" ng-class="{'sr-only': $index > 0}"
              for="account_id_{{$index}}">
              Account
            </label>
            <div>
              <select class="form-control" name="account_id_{{$index}}" required="true"
                ng-disabled="split.locked"
                ng-model="split.account_id"
                ng-options="a.id as a.name for a in accounts">
              </select>
            </div>
          </div>

          <div class="col-md-4">
            <label class="control-label" ng-class="{'sr-only': $index > 0}"
              for="amount_{{$index}}">
              Description
            </label>
            <input class="form-control" type="text" name="description_{{$index}"
              ng-model="split.description">
          </div>

          <div class="col-md-4">
            <label class="control-label" ng-class="{'sr-only': $index > 0}"
              for="amount_{{$index}}">
              Amount
            </label>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input class="form-control" type="number" name="amount_{{$index}"
                ng-disabled="split.locked"
                step="0.01" ng-model="split.amount">
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="row button-bar">
      <div class="col-md-10"></div>
      <div class="col-md-2">
        <button class="btn" ng-click="save()"
          ng-disabled="form.$invalid">
          Save
        </button>
        <button class="btn" ng-click="cancel()">Cancel</button>
      </div>
    </div>

  </form>
</div>
